<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='#'>{{title}}</a>

    <div class='collapse navbar-collapse'>
        <div class='navbar-nav' *ngIf='!userdata'>
            <a class="nav-link nav-item" routerLink='/login' routerLinkActive='active'>Login</a>
            <a class="nav-link nav-item" routerLink='/signup' routerLinkActive='active'>Sign Up</a>
            <a href="http://localhost:8080/api/oauth/google"><img src='https://cdn1.iconfinder.com/data/icons/social-media-set-for-free/32/google_-512.png' width="30" height="30" title='Sign in with Google'></a>
        </div>
        <div class='navbar-nav' *ngIf='userdata'>
            <a class='nav-link nav-item' href='#'> Signed In As {{userdata.username}}</a>
            <a class='nav-link nav-item' routerLink='/profile' routerLinkActive='active'>Profile</a>
            <a class='nav-link nav-item' routerLink='/logout' routerLinkActive='active'>Logout</a>
        </div>
    </div>
</nav>

<div class='container'>
    <router-outlet></router-outlet>
</div>
